.item {
    margin: 1rem 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #f7f5ef;
}

.notes {
    list-style: none;
    margin: 2rem auto;
    padding: 0;
    width: 40rem;
  }

.itemButton {
    font: inherit;
    background-color: #ebb002;
    border: 1px solid #ebb002;
    color: #201d0f;
    padding: 0.3rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    float: right
  }
  
.itemButton:hover,
.itemButton:active {
    background-color: #ebc002;
    border-color: #ebc002;
  }